<ng-container *ngIf=form>
    <form [formGroup]="form">
        <div class="patient-edit-container">
            <div class="header">
                <div class="header__title">
                    <div routerLink="/patients"  class="back">Back</div>
                    <div class="title">Patient</div>
                    <div class="subtitle">Patient Form</div>
                </div>
                <div class="header__options">
                    <button class="btn btn-blue" (click)="save()">Save Patient</button>
                </div>
            </div>
            <div class="content">
                <div class="f-basic col-2">
                    <label class="req">First Name:</label>
                    <input type="text" formControlName="firstName" maxlength="35" (focus)="focused='firstName'"
                        (blur)="focused=''">
                    <div class="limit" *ngIf="f.firstName.value.length > 0 && focused == 'subject' ">
                        {{f.firstName.value.length}}/35</div>
                    <div class="error" *ngIf="f.firstName.errors?.required && f.firstName.touched">First Name is
                        required.</div>
                    <div class="error" *ngIf="f.firstName.errors?.minlength && f.firstName.touched">Minimum number
                        of characters is 2.</div>
                </div>
                <div class="f-basic col-2">
                    <label class="req">Last Name:</label>
                    <input type="text" formControlName="lastName" maxlength="35" (focus)="focused='lastName'"
                        (blur)="focused=''">
                    <div class="limit" *ngIf="f.lastName.value.length > 0 && focused == 'subject' ">
                        {{f.lastName.value.length}}/35</div>
                    <div class="error" *ngIf="f.lastName.errors?.required && f.lastName.touched">Last Name is
                        required.</div>
                    <div class="error" *ngIf="f.lastName.errors?.minlength && f.lastName.touched">Minimum number of
                        characters is 2.</div>
                </div>
                <div class="f-basic col-2">
                    <label class="req">Doctor:</label>
                    <mat-select formControlName="doctor" placeholder="Choose Doctor">
                        <ng-container *ngFor="let d of doctors">
                            <mat-option [value]="d.id">{{d.firstName}} {{d.lastName}}</mat-option>
                        </ng-container>
                    </mat-select>
                    <div class="error" *ngIf="f.doctor.errors?.required && f.doctor.touched">Doctor is required.</div>
                </div>
                <div class="f-calendar col-2">
                    <label class="req">Birth Date:</label>
                    <mat-form-field>
                        <input matInput [matDatepicker]="picker"  formControlName="birthDate">
                        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                        <mat-datepicker #picker></mat-datepicker>
                    </mat-form-field>
                    <div class="error" *ngIf="f.birthDate.errors?.required && f.birthDate.touched">Birth Date is
                        required.</div>
                </div>
                <div class="f-basic col-2">
                    <label class="req">Vat Code:</label>
                    <input type="text" formControlName="vatCode">
                    <div class="error" *ngIf="f.vatCode.errors?.required && f.vatCode.touched">Last Name is
                        required.</div>
                </div>
                <div class="table-form">
                    <div class="table-header">
                        <div class="table-title">Addresses:</div>
                        <div class="table-tools">
                            <button class="btn" (click)="addAddress()">Add New Address</button>
                        </div>
                    </div>
                    <table>
                        <thead>
                            <tr>
                                <th>Type</th>
                                <th>Email</th>
                                <th>Phone</th>
                                <th>Street</th>
                                <th>Zip Code</th>
                                <th>City</th>
                                <th>Country</th>
                            </tr>
                        </thead>
                        <tbody>
                            <ng-container formArrayName="addresses">
                                <tr *ngFor="let address of addresses.controls; let i=index">
                                    <ng-container [formGroupName]="i">
                                        <td style="min-width: 130px;" [class.td-error]="address.get('type')?.errors && address.get('type')?.touched">
                                            <mat-select formControlName="type" placeholder="Choose Type">
                                                <ng-container *ngFor="let a of addressType">
                                                    <mat-option [value]="a">{{a}}
                                                    </mat-option>
                                                </ng-container>
                                            </mat-select>
                                        </td>
                                        <td [class.td-error]="address.get('email')?.errors && address.get('email')?.touched">
                                            <input class="f-basic-table" type="text" formControlName="email">
                                        </td>
                                        <td [class.td-error]="address.get('phone')?.errors && address.get('phone')?.touched">
                                            <input class="f-basic-table" type="text" formControlName="phone" prefix="+39 " mask="(00) 000 0000">
                                        </td>
                                        <td [class.td-error]="address.get('street')?.errors && address.get('street')?.touched">
                                            <input class="f-basic-table" type="text" formControlName="street">
                                        </td>
                                        <td [class.td-error]="address.get('zipcode')?.errors && address.get('zipcode')?.touched">
                                            <input class="f-basic-table" type="text" formControlName="zipcode">
                                        </td>
                                        <td [class.td-error]="address.get('city')?.errors && address.get('city')?.touched">
                                            <input class="f-basic-table" type="text" formControlName="city">
                                        </td>
                                        <td [class.td-error]="address.get('country')?.errors && address.get('country')?.touched">
                                            <input class="f-basic-table" type="text" formControlName="country">
                                        </td>
                                    </ng-container>
                                </tr>
                            </ng-container>
                            <tr *ngIf="f.addresses.value.length == 0">
                                <td class="no-data" colspan="7"><span class="action" (click)="addAddress()">Add
                                        Address</span></td>
                            </tr>
                        </tbody>
                    </table>
                    <div class="error" *ngIf="f.addresses.errors && f.addresses.touched">Add at least one address.
                    </div>
                    <div class="error" *ngIf="!f.addresses.errors && f.addresses.invalid && f.addresses.touched">All
                        'address'
                        filled must be populated.</div>
                </div>
            </div>
        </div>
    </form>
</ng-container>