<div class="patients-container">
    <div class="header">
        <div class="header__title">
            <div routerLink="" class="back">Back</div>
            <div class="title">Patients</div>
            <div class="subtitle">Patients All List</div>
        </div>
        <div class="header__options">
            <button class="btn btn-blue" routerLink="/patients/new" >Create Patient</button>
        </div>
    </div>
    <div class="content">
        <div class="table-container">
            <div class="table table-option--fixedHeight">
                <table>
                    <thead>
                        <tr>
                            <th>
                                Last Name
                                <div class="th">
                                    Last Name
                                </div>
                            </th>
                            <th>
                                First Name
                                <div class="th">
                                    First Name
                                </div>
                            </th>
                            <th>
                                Registration Date
                                <div class="th">
                                    Registration Date
                                </div>
                            </th>
                            <th>
                                Doctor
                                <div class="th">
                                    Doctor
                                </div>
                            </th>
                            <th>
                                Phone
                                <div class="th">
                                    Phone
                                </div>
                            </th>
                            <th>
                                Email
                                <div class="th">
                                    Email
                                </div>
                            </th>
                            <th>
                                Address
                                <div class="th">
                                    Address
                                </div>
                            </th>
                            <th>
                                
                                
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <ng-container *ngFor="let patient of patients; let i = index">
                            <tr *ngIf="i < (currentPage * 15) && i>= ((currentPage - 1 ) * 15)">
                                <td>
                                    {{patient.firstName}}
                                </td>
                                <td>
                                    {{patient.lastName}}
                                </td>
                                <td>
                                    {{patient.registeredDate | date: 'mediumDate'}}
                                </td>
                                <td>
                                    {{patient.doctorDetails?.firstName}} {{patient.doctorDetails?.lastName}}
                                </td>
                                <td class="td-phone" (click)="copyPhone(patient.addresses[0].phone)">
                                    +39 {{patient.addresses[0].phone | mask: '(00) 000 0000'}}
                                </td>
                                <td class="td-mail">
                                    <span (click)="mailto(patient.addresses[0].email)">{{patient.addresses[0].email}}</span>
                                </td>
                                <td>
                                    {{patient.addresses[0].street}}, {{patient.addresses[0].city}},
                                    {{patient.addresses[0].country}}
                                </td>
                                <td class="td-edit" (click)="onEdit(patient.id)">
                                    Edit
                                </td>
                            </tr>
                        </ng-container>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="footer">
        <paginations *ngIf="patients" [totalCount]="patients.length" [pageSize]="15" [currentPage]="currentPage"
            (changePage)="onPageChange($event)">
        </paginations>
    </div>
</div>