<div class="navigation">
    <div class="navigation__btn" (click)="toggleNavigation()"></div>
    <div class="navigation__logo"></div>
    <div class="navigation__items" *ngIf="navigationVisible">
        <div routerLink="" (click)="toggleNavigation()" class="item">Home</div>
        <div routerLink="/patients/new" (click)="toggleNavigation()" class="item">Add new patient</div>
        <div routerLink="/patients" (click)="toggleNavigation()" class="item">List patients</div>
    </div>
</div>
