
// + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + 

// Imports

// + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + 

// BASIC
// Reset
@import "src/design/reset.scss";
// Normilize
@import "src/design/normalize.scss";
// Standard
@import "src/design/standard.scss";
// Patterns
@import "src/design/pattern.scss";

// ADDITIONAL
@import "src/design/additionalElements/mat.scss";

// + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + 

// 1. Layoyt

// + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + 

.layout {
    position: relative;
    min-height: calc(100vh - 50px);
    min-width: 600px;
    background-image: url("/assets/images/backgrounds/shape_background.svg");
    background-size: 100% auto;
    background-repeat: repeat-y;
    padding-bottom: 50px;

    @-ms-viewport {
        width: 100vw;
    }
}

.navigation{
    position: relative;
    background-color: $c-white;
    border-top: 5px solid $c-blue;
    box-shadow: $shadow-navbar;
    height: 60px;
    display: flex;
    align-items: center;
    padding: 0 15px;
    &__btn{
        @include image($img-navbar-hamb-0, 45px, 52px, 20px, auto, top 18px left);
        cursor: pointer;
        &:hover{
            @include image($img-navbar-hamb-1, 45px, 52px, 20px, auto, top 18px left);
        }
    }
    &__logo{
        @include image($logo-drhouse, 150px, 35px, 150px, auto, center);
        cursor: pointer;
    }
    &__items{
        position: absolute;
        z-index: 1000;
        top: 60px;
        left: 0;
        width: calc(100% - 30px);
        height: 45px;
        padding: 0 15px;
        background-color: #ecf1fa;
        display: flex;
        align-items: center;

        .item{
            margin-right: 15px;
            @include font-basic(#6e6e6e, 0.9rem);
            cursor: pointer;
            &:hover{
                color: $c-blue;
            }
        }
    }
}

.footer-container {
    @include margin(80px 0);

    >.footer {
        position: absolute;
        width: 100%;
        bottom: 35px;

        >.content {
            @include container-section();
            @include font-basic($c-blue, 1rem);
            padding-top: 20px !important;
            border-top: 1px solid $c-grey-line;
            display: flex;
            justify-content: flex-end;

            >.terms {
                cursor: pointer;
            }
        }
    }
}

.notif-container {
    position: fixed;
    z-index: 1000;
    bottom: 30px;
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    @mixin notif() {
        width: 250px;
        padding: 15px 17px;
        border-radius: 14px;
        margin-top: 10px;
        display: flex;
        align-items: center;
        cursor: pointer;

        .notif-content{
            width: calc(100% - 20px);
            .title {
                @include font-basic-semi-bold($c-white, 1rem);
                margin-bottom: 5px;
            }
    
            .text {
                @include font-basic($c-white, $fs-basic);
                line-height: 1.1rem;
                word-break: break-word;
            }
        }
    }

    .notif-sucess {
        @include notif();
        background-color: $c-blue;
        .notif-icon{
            @include image($icon-notif-sucess, 30px, 30px, 25px, auto, center);
            margin-right: 10px;
        }
    }

    .notif-error {
        @include notif();
        background-color: $c-red;
        .notif-icon{
            @include image($icon-notif-error, 30px, 30px, 25px, auto, center);
            margin-right: 10px;
        }
    }

    .notif-warning {
        @include notif();
        background-color: #9C9C9C;
        .notif-icon{
            @include image($icon-notif-warning, 30px, 30px, 25px, auto, center);
            margin-right: 10px;
        }
    }

    .notif-info {
        @include notif();
        background-color: $c-white;
        border: 1px solid #e4e4e4;
        box-shadow: 0 0 5px 0 rgba(0, 0, 0, .12);
        .notif-content{
            .title {
                color: $c-black-light;
            }
    
            .text {
                color: $c-grey;
            }
        }
        .notif-icon{
            @include image($icon-notif-info, 30px, 30px, 25px, auto, center);
            margin-right: 10px;
        }
    }

    .notif-refresh {
        @include notif();
        background-color: $c-white;
        border: 1px solid #e4e4e4;
        box-shadow: 0 0 5px 0 rgba(0, 0, 0, .12);
        .notif-content{
            .title {
                color: $c-black-light;
            }
    
            .text {
                color: $c-grey;
            }
        }
        .notif-icon{
            @include image($icon-notif-info, 30px, 30px, 25px, auto, center);
            margin-right: 10px;
        }
    }
}

// + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + 

// 2. Elements

// + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + 

// 2.1 Btn
@mixin btn($color-first, $color-second) {
    @include padding(6px 20px);
    @include font-basic($color-first, $fs-basic);
    background-color: $color-second;
    border: 1px solid $color-first;
    border-radius: $radius-btn;
    cursor: pointer;

    &:hover {
        background-color: $color-first;
        border: 1px solid $color-second;

        @if($color-second==transparent) {
            color: $c-white;
        }

        @else {
            color: $color-second;
        }
    }
    &:disabled{
        opacity: 0.8;
        cursor: not-allowed;
    }
}

.btn {
    @include btn($c-blue, transparent);
}

.btn-blue {
    @include btn($c-white, $c-blue);
}

// 2.2 Headers
@mixin header {
    .header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 20px;

        &__title {
            position: relative;
            >.back {
                display: flex;
                align-items: center;
                position: absolute;
                top: -10px;
                padding-left: 22px;
                padding-bottom: 2px;
                @include image($icon-o-back, 52px, 14px, auto, 11px, center left);
                @include font-basic($c-grey-light, $fs-basic);
                cursor: pointer;
                &:hover{
                    opacity: 0.8;
                }
            }

            >.title {
                @include font-basic-bold($c-black-light, $fs-section-title);
                text-transform: capitalize;
                display: flex;
                align-items: center;
            }

            >.subtitle {
                @include font-basic($c-grey-light, $fs-section-subtitle);
            }
        }

        &__options{
            display: flex;
            justify-content: flex-end;

            >* {
                display: inline-block;
                margin-left: 10px;
                
            }
        }
    }
}

@mixin header-section {
    >.section-header {
        @include margin(20px 0 20px 0);
        display: flex;
        justify-content: space-between;
        align-items: center;

        >.title {
            @include font-basic-bold($c-black-light, 1.75rem);
            display: flex;
            align-items: flex-end;
            position: relative;
            &.req {
                &::after {
                    @include font-basic-bold($c-blue, 1rem);
                    content: "*";
                    position: absolute;
                    right: -12px;
                    top: 2px;
                }
            }
        }

        >.tools {
            display: flex;
            button {
                @include margin(0 0 0 10px);
            }
        }
    }
}

// 2.3 Paginations
.pagination-container {
    @include margin-top(30px);
    display: flex;
    justify-content: center;

    .pagination {
        display: flex;
        align-items: center;
        @include font-basic($c-black-light, 1rem);

        >* {
            @include margin(0 10px);
        }

        >.first {
            @include image($icon-pagination-firstPage-0, 17px, 15px, auto, 14px, center);
            cursor: pointer;

            &:hover {
                @include image($icon-pagination-firstPage-1, 17px, 15px, auto, 14px, center);
            }
        }

        >.prev {
            @include image($icon-pagination-prevPage-0, 12px, 15px, auto, 14px, center);
            cursor: pointer;

            &:hover {
                @include image($icon-pagination-prevPage-1, 12px, 15px, auto, 14px, center);
            }
        }

        >.counter {
            display: inline-flex;

            >.currentPage {
                color: $c-blue;
                @include margin(0 10px 0 0);
            }

            >.totalPage {
                @include margin(0 0 0 10px);
            }
        }

        >.next {
            @include image($icon-pagination-nextPage-0, 12px, 15px, auto, 14px, center);
            cursor: pointer;

            &:hover {
                @include image($icon-pagination-nextPage-1, 12px, 15px, auto, 14px, center);
            }
        }

        >.last {
            @include image($icon-pagination-lastPage-0, 17px, 15px, auto, 14px, center);
            cursor: pointer;

            &:hover {
                @include image($icon-pagination-lastPage-1, 17px, 15px, auto, 14px, center);
            }
        }
    }
}


// + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + 

// 3. Sections

// + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + 

.home-container{
    @include container-section();
    @include header();
    >.content{
        .text{
            @include font-basic($c-black-light, 0.9rem);
        }
    }
}

.patients-container{
    @include container-section();
    @include header();
}

.patient-edit-container{
    @include container-section();
    @include header();
    .content{
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;

        >* {
            width: 100%;
        }
        .col-2 {
            width: calc(100% / 2 - 50px);
    
            @include resp(S) {
                width: 100%;
            }
    
        }
    }
}


// + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + 

// 4. Table

// + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + 

.table-container {
    width: 100%;
    position: relative;
    background: #ffffff;
    overflow: hidden;
    border: 1px solid #dedede;
    border-radius: 10px;
    box-shadow: 0 0 10px 0 rgb(0 0 0 / 10%);

    .table {
        overflow-y: auto;
        border-top: 36px solid transparent;
        
        @include scroll-vertical();
        table {
            border-spacing: 0;
            border-collapse: collapse;
            width: 100%;

            thead,
            tfoot {
                th {
                    padding: 10px 15px;
                }
            }

            tbody {
                tr {
                    background-color: white;

                    &:nth-child(even) {
                        background-color: #f6fafe;
                    }

                    td {
                        line-height: 18px;
                        padding: 10px 15px;
                        @include font-basic($c-black-light, $fs-basic);
                        
                    }

                    &:hover{
                        td{
                            color: #5095CE;
                        }
                    }
                }
            }

            thead tr th,
            tfoot tr td {
                height: 0;
                line-height: 0;
                margin: 0;
                padding-top: 0;
                padding-bottom: 0;
                color: transparent;
                border: none;
                white-space: nowrap;
            }

            thead tr th div,
            tfoot tr td div {
                position: absolute;
                color: #080808;
                padding: 10px 15px;
                margin-left: -15px;
                line-height: normal;
                width: 100%;
                z-index: 2;
                text-align: left;
            }

            thead tr th div {
                top: 0;
            }

            tfoot tr td div {
                bottom: 0;
            }

            .th {
                font-weight: 500;
                font-size: 15px;
                line-height: 19px;
                font-weight: 600;
                background: #0173f9;
                @include font-basic-semi-bold(white, 1rem);
                
            }

            .tf {
                margin-left: 0 !important;
                font-size: 14px;
                line-height: 18px;
                font-weight: 600;
                padding: 10px 15px;
                color: #080808;
                background-color: #f6f6f6;
            }

            .td-edit, .td-phone, .td-mail{
                cursor: pointer;
                &:hover{
                    color: $c-blue;
                }
            }
        }
    }

    // Options
    .table-option--footer{
        border-bottom: 41px solid transparent;
    }

    .table-option--fixedHeight{
        height: 340px;
    }

    .table-option--maxHeight{
        max-height: 340px;
    }

    .table-option--noData{
        .no-data{
            td{
                text-align: center;
                height: 233px;
            }
        }
        .tf{
            color: transparent !important;
        }
    }
}

.table-form {
    @include margin(0 0 30px 0);

    >.table-title {
        @include font-basic-bold($c-black, 1rem);
        @include margin(0 0 20px 0);
    }

    >.table-header {
        display: flex;
        justify-content: space-between;
        align-items: baseline;

        >.table-title {
            @include font-basic-bold($c-black, 1rem);
            @include margin(0 0 20px 0);
        }

        >.table-introduction{
            @include font-basic($c-black-light, 0.9rem);
        }

        >.table-tools {
            >* {
                margin-left: 15px;
            }
        }
    }

    >table {
        width: 100%;
        @include font-basic(#505050, 1rem);

        >thead {
            background-color: $c-cream;
            @include font-basic-semi-bold(#505050, 1rem);
        }

        th,
        td {
            @include padding(12px 15px);
            text-align: left;
            border: 1px solid #c4c4c4;
        }

        .td-error{
            background-color: rgb(240 236 250);
        }

        .col-delete{
            width: 20px;
            >.delete-btn {
            @include image($icon-delete, 20px, 15px, auto, 14px, center);
            cursor: pointer;
            &:hover{
                opacity: 0.8;
                }
            }
        }

        .req {
            &::after {
                @include font-basic-bold($c-blue, 1rem);
                content: "*";
                margin-left: 5px;
            }
        }

        .no-data {
            height: 50px;
            text-align: center;
            vertical-align: middle;

            >.action {
                cursor: pointer;

                &:hover {
                    color: blue;
                }
            }
        }
    }

    >.error {
        @include margin(10px 0 0 0);
        text-align: right;
        @include font-basic-semi-bold($c-red, 0.75rem);

        &:before {
            content: "! "
        }
    }

    @include respSpecif(900){
        overflow-x: auto !important;
        @include scroll-horizontal();

        table{
            min-width: 900px;
        }

        .no-data{
            text-align: left !important;
        }

    }
}

// + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + 

// 5. Form

// + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + 

// Standard
@mixin f-standard {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 30px;
    @include margin(0 0 30px 0);

    >label {
        display: inline-block;
        min-width: 115px;
        width: 115px;
        @include margin(0 10px 0 0);
        @include font-basic-semi-bold($c-black-light, 1rem);

        
    }

    >.help-btn{
        right: 0px;
        bottom: 5px;
        @include image($icon-help-0, 17px, 17px, auto, 16px, center);
        position: absolute;
        cursor: pointer;
    }
    >.help{
        position: absolute;
        background-color: $c-blue;
        @include font-basic(#f1f1f1, $fs-basic);
        line-height: 1.1rem;
        padding: 10px;
        border-radius: 5px;
        z-index: 1000;
        
        top: 37px;
        width: calc(100% - 175px);
        right: 0;
    }
    >.req {
        &::after {
            @include font-basic-bold($c-blue, 1rem);
            content: "*";
            margin-left: 5px;
            left: 1px !important;
        }
    }

    >.limit {
        position: absolute;
        right: 0;
        bottom: 8px;
        @include font-basic-semi-bold($c-blue, 0.8rem);
        background-color: white;
    }

    input {
        background: transparent;
        outline: none;
        border: none;
        border-bottom: 1px solid rgba(0,0,0,.42);
        width: 100%;
        @include font-basic(#505050, 1rem);
        padding: 3px 2px;
        -moz-appearance: none;
        -webkit-appearance: none;
        appearance: none;
        cursor: pointer;
        box-shadow: 0 1px 0 transparent;

        @include placeHolderInput() {
            @include font-basic($c-grey, 1rem);
            font-style: italic;
        }


    }

    input[type="checkbox"] {
        display: none;

        &+label {
            display: block;
            position: relative;
            padding-left: 25px;
            line-height: 30px;
            cursor: pointer;
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
        }

        &+label:before {
            content: '';
            display: block;
            margin-top: 7px;
            width: 15px;
            height: 15px;
            border: 1px solid #c4c4c4;
            border-radius: 2px;
            position: absolute;
            left: 0;
            top: 0;

        }

        &:checked+label:before {
            background-color: $c-blue !important;
            border: 1px solid $c-blue;
        }

        &:checked+label:after {
            content: '';
            position: absolute;
            left: 6px;
            top: 8px;
            width: 3px;
            height: 7px;
            border: 1.6px solid white;
            border-top-color: transparent;
            border-left-color: transparent;
            transform: rotate(45deg);
        }

        &:disabled+label:before {
            background-color: #f8f8f8;
            cursor: not-allowed
        }

        &:disabled+label {
            cursor: not-allowed;
            opacity: 0.7;

            &:hover {
                color: #333333;
            }
        }


    }
    

    .error {
        position: absolute;
        bottom: -20px;
        right: 0;
        @include font-basic-semi-bold($c-red, 0.75rem);

        &:before {
            content: "! "
        }

    }

    .error-left {
        right: auto;
    }

    // Hover
    input:hover,
    textarea:hover,
    select:hover {
        background-color: #ffffff04;
    }

    // Focus
    input:focus,
    textarea:focus,
    select:focus {
        border-color: $c-blue;
        box-shadow: 0 1.5px 0px -0.5px $c-blue;
        transition: border-color .13s ease-in-out, box-shadow .13s ease-in-out, -webkit-box-shadow .13s ease-in-out
    }

    // Readonly
    input:read-only,
    textarea:read-only,
    select:read-only {
        background-color: #ffffff08;
    }

    // Disabled
    input:disabled,
    textarea:disabled,
    select:disabled {
        background-color: #f8f8f8;
        cursor: not-allowed
    }

    // @include f-option-add();
    // @include f-option-delete();
    // @include f-option-readonly();
    // @include f-option-disabled();
}

.f-basic {
    @include f-standard();
}

.f-calendar {
    @include f-standard();
    input{
        border-bottom: none !important;
    }
    input:focus {
        border-color: $c-blue;
        box-shadow: none;
    }

    .mat-form-field{
        width: 100%;
    }

}

.f-basic-table {
    background: transparent;
    outline: none;
    border: none;
    width: 100%;
    @include font-basic(#505050, 1rem);
}


