@import '~@angular/material/prebuilt-themes/indigo-pink.css';


.mat-form-field-should-float .mat-form-field-label-wrapper {
    display: none!important;
}
.mat-focused .al-subscribe-form-placeholder,
.mat-form-field-invalid .al-subscribe-form-placeholder {
    display: none!important;
}

::ng-deep .mat-form-field-appearance-legacy .mat-form-field-underline{
    display: none !important;
}